streamlit==1.58.0
starlette==0.46.2
uvicorn==0.34.0
# Utilities
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
# setuptools
setuptools==69.5.1

supabase
bcrypt

segno
pillow

librosa
resemblyzer